.info-container {
  position: absolute;
  font-family: var(--Poppins);
  text-align: center;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 0.5rem;
  width: 20rem;
  cursor: pointer;
  top: 2rem;
  left: -20.4rem;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.info-container:hover {
  transform: translateX(20rem);
}

.info-icon {
  display: flex;
  position: absolute;
  color: rgb(37, 124, 211);
  background: var(--gray-light);
  padding: 0.5rem;
  width: 4rem;
  text-align: right;
  background-color: var(--white);
  border-radius: 50%;
  /* border-radius: 0% 50% 50% 0%; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  top: -1.35rem;
  right: -6rem;
}

.info-icon-img {
  width: 4rem;
}

.fa-gamepad {
  background: -webkit-linear-gradient(300deg, rgb(0, 185, 206) 50%, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* width: 1rem; */
  /* z-index: 1000; */
}

.info-mobile {
  margin-left: -3rem;
}

.info-mobile-dir {
  font-family: "Press Start 2P", cursive;
}

.info-span {
  font-size: 2rem;
  font-weight: 900;
  padding-right: 2rem;
}

.info-pc-dir-img {
  width: 5rem;
  padding-bottom: 1rem;
}
