.lbtns {
  transition: all 0.2s ease-in-out;
}
.lbtns:hover {
  color: rgb(10, 165, 10);
  text-shadow: 0 0 1px rgb(0, 253, 253), 0 0 1px rgb(0, 255, 234), 0 0 21px #fff,
    0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  transform: scale(0.98);
}

.lbtns__up {
  position: absolute;
  font-size: 3rem;
  width: 6.4rem;
  height: 6.7rem;
  color: white;
  border: 1px solid black;
  background: #151517;
  border: none;
  border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  top: 5.45rem;
  right: 1rem;
}

.lbtns__down {
  position: absolute;
  font-size: 3rem;
  width: 6.4rem;
  height: 6.7rem;
  border: none;
  border-radius: 0% 0% 100% 0% / 100% 0% 100% 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  bottom: -2.2rem;
  right: 1rem;
}

.lbtns__left {
  position: absolute;
  font-size: 3rem;
  width: 6.5rem;
  height: 6.7rem;
  border: none;
  border-radius: 100% 0% 0% 0% / 100% 100% 0% 0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  top: 5.45rem;
  left: 1rem;
}

.lbtns__right {
  position: absolute;
  font-size: 3rem;
  width: 6.5rem;
  height: 6.7rem;
  color: white;
  border: 1px solid black;
  background: #151517;
  border: none;
  border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  bottom: -2.2rem;
  left: 1rem;
}
