:root {
  /* COLORS */
  --game-body: #96b56f;
  --white: #ffffff;
  --black: #000000;
  --light-gray: #ffffff;
  --dark-gray: #acacac;

  /* FONTS */
  --archivo: "Archivo Black", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --game: "Press Start 2P", cursive;
}
